//Progress circle styles start here
.uikit-progress-circles-2 {
    padding: 4em;
    background: $secondary-color;

	.progress-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.progress-card {
		display: inline-block;
		text-align: center;
		h5 {
			color: $primary-text-color;
			font-weight: 500;
			letter-spacing: 2px;
		}
	}
	.progress-circle {
		position: relative;
		background: transparent;
		border: $secondary-b-color 8px solid;
		width: 8em;
		height: 8em;
		border-radius: 100%;
		overflow: hidden;
		margin: 1em;
		.progress {
			width: 8em;
			height: 8em;
			position: absolute;
			bottom: -100%;
			background: $primary-color;
		}
	}
	.progress-content {
		background: $secondary-b-color;
		background: linear-gradient(0deg, $secondary-color 0%, $secondary-b-color 100%);
		width: 7.6em;
		height: 7.6em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		z-index: 1;
		h5 {
			font-size: 2em;
			font-weight: 500;
		}
	}
}

@media screen and (max-width: 1000px) {
	.uikit-progress-circles-2 .progress-container {
		flex-direction: column;
	}
}
@media screen and (min-width: 1150px) {
	.uikit-progress-circles-2 {
		font-size: 18px;
	}
}
@media screen and (max-width: 500px) {
	.uikit-progress-circles-2 {
		font-size: 13px;
	}
}